<p><img src="/images/banner.png" style="width: 100%; max-width: 400px" /></p>
<p style="color: gray"><small>Made with &lt;3 in 2025 by <a href="https://s1432.org" target="_blank">Serena1432</a> and <a href="https://www.facebook.com/groups/nobihazavietnam" target="_blank">Nobihaza Vietnam Community</a>.<br><b><a href="https://www.facebook.com/groups/nobihazavietnam" target="_blank">Facebook Group</a> / <a href="https://www.facebook.com/groups/nobihazavietnam" target="_blank">Discord Group</a></b></small></p>
<p style="color: gray"><small>{{ site.data[site.active_lang].strings.copyright_notice }}</small></p>
<div style="float: right">
{% include language_switcher.html %}
</div>
<script src="{{ '/main.js' | relative_url }}"></script>